.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  @include flex(row, center, space-between);
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  position: relative;
  z-index: 2;

  #logo {
    color: white;
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
  }
  .burger {
    cursor: pointer;
    .line1,
    .line2 {
      width: 3rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: white;
      cursor: none;
      pointer-events: none;
    }
  }
}
